<div align = "center">
      <nav class = "menu">
    <ul>
      <li class = "li-component">Home</li>
      <li class = "li-component"><a href = "/about">About</a></li>
      <li class = "li-component"><a href = "/projects">Projects</a></li>
      <li class = "li-component"><a href = "/blog">Blog</a></li>
      <li class = "contact"><a href = "/contact">Contact me</a></li>
    </ul>
     </nav>
</div>