<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" href = "style.css">
    <%- include('partials/menu.ejs') %>
  </head>
  <body>
    <div align = "center" class = "about">
      <h1>
        Hello, my name is Lorem Ipsum.
      </h1>
    </div>
  </body>
  <style>
    .about {
      margin : 20px;
    }
  </style>
</html>