<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" href = "style.css">
    <%- include('partials/menu.ejs') %>
  </head>
  <body>
    <div class = "container" align = "center">
      <div class = "blog-container">
        <span class = "title"><h1>Lorem ipsum</h1></span><br>
        <span class = "description"><h3>Lorem ipsum dolor sit amet.</h3></span><br>
        <button onclick = "direct()">Go</button>
      </div>
      <div class = "blog-container">
        <span class = "title"><h1>Lorem ipsum</h1></span><br>
        <span class = "description"><h3>Lorem ipsum dolor sit amet.</h3></span><br>
        <button onclick = "direct()">Go</button>
      </div>
      <div class = "blog-container">
        <span class = "title"><h1>Lorem ipsum</h1></span><br>
        <span class = "description"><h3>Lorem ipsum dolor sit amet.</h3></span><br>
        <button onclick = "direct()">Go</button>
      </div>
    </div>
  </body>
  <style>
    .blog-container {
      width : 800px;
      height : 250px;
      border : 2px solid black;
      border-radius : 7px;
      padding : 15px;
      margin : 20px;
    }
  </style>
</html>