<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" href = "style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <%- include('partials/menu.ejs') %>
   <style>
     @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
        .content {
            width: 85%;
            height: 700px;
            background-color: #1d1d1d;
            margin: 80px auto 0 auto;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            box-shadow: 6px 9px 16px #333, -6px -9px 16px #333;
            font-family : "Poppins", sans-serif;
        }
     
    </style>
</head>

<body>

    <div class="content">
        <div class="leftPart"> &emsp;Contact me
            <div class="leftPartimg"> <img src="https://cdn.discordapp.com/attachments/844872873902604288/854792490653712434/image2.jpg" width="450px" height="450px"></div>
        </div>
        <div class="rightPart">
            <form>
                <input class="inputs" type="text" name="name" placeholder="Name...">
                <input class="inputs" type="text" name="subject" placeholder="Subject...">
                <input class="inputs" type="email" name="email" placeholder="Email Address...">
                <input class="inputs" id="message" type="text" name="message" placeholder="Message...">
                <button type="submit" class="btn">Send</button>
            </form>
        </div>
        <div class="footer">
            <ul>
                <li>
                    <h3>My contacts</h3>
                    <a href="#">example@gmail.com</a><br>
                    <a href="#">Instagram</a>
                </li>
                <li>
                    <h3>Connect with me</h3><br>
                    <a class="icons" href="#"><i class="fas fa-envelope"></i></a>
                    <a class="icons" href="#"><i class="fab fa-instagram"></i></a>
                </li>
                <li>
                    <h4>Powered by Codeplanet</h4>
                </li>
            </ul>
        </div>

    </div>
    
  </body>
</html>