<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" href = "style.css">
  </head>
  <body>
    <%- include('partials/menu.ejs') %>
    <div align  = "center">
      <h2>
        <br>
        Blog template by CodePlanet
      </h2>
    </div>
    <div class = "container">
      <div class = "text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ipsum augue, aliquam ultrices tempor placerat, tincidunt non neque. Quisque sed iaculis erat. Duis et nulla erat. Aenean egestas elit ut tellus tristique mollis ac eget dolor. Suspendisse potenti. Nulla at suscipit quam. Nullam vehicula odio sit amet erat vestibulum, eu luctus neque rhoncus. Donec laoreet tortor id nibh tristique, vitae scelerisque ipsum porta. Proin eleifend est eu arcu gravida varius. In sed metus sem. Vestibulum sed metus feugiat, condimentum nisl sit amet, pellentesque orci.
      </div>
      <div class = "logo">
        <img width = "300px" height = "300px" src = "https://cdn.discordapp.com/attachments/823558223725461524/841740941086031882/1174215797dec302c416c52eaac5fc46.png">
      </div>
    </div>
  </body>
  <style>
    .text {
      width : 500px;
      position : relative;
      left : 140px;
      top : 100px;
    }
    
    .logo {
      position : relative;
      left : 900px;
      bottom : 170px;
      cursor : pointer;
      margin : 0;
    }
  </style>
</html>