<!DOCTYPE html>
<html>
  <head>
    <link rel = "stylesheet" href = "/style.css"
    <%- include('../partials/menu.ejs') %>
  </head>
  <body>
    <br>
    <div align  = "center">
      <h1>
      Lorem ipsum
    </h1><br>
      <h4>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ipsum augue, aliquam ultrices tempor placerat, tincidunt non neque.
      </h4>
    </div>
    
  </body>
</html>